@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  -ms-overflow-style: none;
  color: #efe4f9;
  display: flex;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}

.Background1 {
  background-image: url("../images/modern-architecture-contemporary-purple-building-clear-sky-3872x2592-2531.jpg");
  // background-size: 100%;
  height: 100vh;
  width: 100%;
  background-repeat: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #5c4670;
  // overflow: hidden;
}

.HeaderWrap {
  display: flex;
  justify-content: center;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 6rem 8rem;
  overflow: hidden;
}

.HeaderName {
  font-size: 4.8rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(163, 149, 178, 0.28);
}

.NavBar {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(163, 149, 178, 0.28);
}
.NavBar li {
  cursor: pointer;
}

.TitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.TitleText {
  font-size: 4.8rem;
  color: #efe4f9;
  text-shadow: 0px 4px 4px #5c4670;
}

.AboutContainer {
  background: #100519;
  height: 45rem;
  display: flex;
  padding: 8rem 15rem;
  justify-content: center;
  gap: 10rem;
  overflow: hidden;
}

.AboutWords {
  width: 70rem;
}

.AboutTitle {
  font-size: 4.8rem;
  font-weight: 500;
  color: #a395b2;
  padding-bottom: 2.4rem;
}

.AboutText {
  font-size: 2.4rem;

  text-align: justify;
  line-height: 150%;
  color: #efe4f9;
}

.PersonalPhoto {
  height: 30rem;
  width: auto;
  border-radius: 50%;
  float: right;
}

.ProjectContainer {
  height: 108rem;
  background: #332045;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardContainer {
  height: 108rem;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 8rem 0;
}

.ProjectCard {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background: #100519;
  height: 40rem;
  width: 36rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(78, 44, 112, 0.39);
  transition: all 0.5s ease;
  cursor: pointer;
}

.ProjectCard:hover {
  transform: scale(1.1);
}

.CardLink {
  text-decoration: none;
}

.CardPic {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.CardCaption {
  color: #a395b2;
  font-size: 1.6rem;
  padding-top: 0.4rem;
}

.TechUsed {
  padding-top: 1.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #efe4f9;
}

.TechList {
  padding-top: 1.2rem;
  text-align: left;
  padding-left: 6rem;
  font-size: 1.6rem;
  color: #efe4f9;
}

.TechList li {
  list-style-type: disc;
  display: list-item;
  line-height: 1.5;
}

.ContactContainer {
  height: 20rem;
  background-color: #100519;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LinkContainer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 60rem;
}

.GitHubLink {
  height: 10rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.LinkedInLink {
  height: 10rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  border-radius: 12px;
}

@media screen and (max-width: 1900px) {
  .CardContainer {
    gap: 4rem;
  }
}

@media screen and (max-width: 1790px) {
  .CardContainer {
    width: 75%;
  }
}

@media screen and (max-width: 1550px) {
  .CardContainer {
    width: 90%;
  }
}

@media screen and (max-width: 1392px) {
  // .Background1 {
  //   background: #5c4670;
  // }

  .AboutWords {
    width: 55rem;
  }

  .AboutText {
    font-size: 1.8rem;
  }

  .PersonalPhoto {
    height: 26rem;
  }

  .ProjectCard {
    height: 36rem;
    width: 30rem;
  }

  .CardCaption {
    font-size: 1.6rem;
  }

  .TechUsed {
    font-size: 2.2rem;
  }

  .TechList {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1100px) {
  .HeaderName {
    font-size: 4.2rem;
  }

  .NavBar {
    font-size: 1.8rem;
  }

  .AboutContainer {
    height: 35rem;
  }

  .AboutTitle {
    font-size: 4.4rem;
  }

  .AboutText {
    font-size: 1.6rem;
  }

  .PersonalPhoto {
    height: 20rem;
  }

  .ProjectContainer {
    height: 147rem;
  }

  .CardContainer {
    height: 147rem;
    width: 65%;
  }

  .ContactContainer {
    height: 16rem;
  }

  .GitHubLink {
    height: 8rem;
  }

  .LinkedInLink {
    height: 8rem;
  }
}
@media screen and (max-width: 990px) {
  .HeaderName {
    font-size: 3.6rem;
  }
  .NavBar {
    font-size: 1.6rem;
  }
  .TitleText {
    font-size: 4rem;
  }
  .AboutContainer {
    padding: 6rem 8rem;
  }
  .AboutWords {
    width: 45rem;
  }
  .AboutTitle {
    font-size: 3.2rem;
  }
  .AboutText {
    font-size: 1.6rem;
  }

  .ProjectContainer {
    height: 130rem;
  }

  .CardContainer {
    height: 130rem;
  }
  .ProjectCard {
    height: 30rem;
    width: 24rem;
  }
  .TechUsed {
    font-size: 1.8rem;
    padding-top: 1.2rem;
  }

  .TechList {
    padding-top: 1rem;
  }

  .TechList li {
    line-height: 1;
  }
}

@media screen and (max-width: 800px) {
  .HeaderContainer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .AboutContainer {
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 4rem;
  }

  .AboutTitle {
    font-size: 2.8rem;
  }
  .ProjectContainer {
    height: 200rem;
  }

  .CardContainer {
    height: 200rem;
    width: 55%;
  }
}

@media screen and (max-width: 600px) {
  .HeaderContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .HeaderName {
    font-size: 2.2rem;
  }
  .NavBar {
    gap: 1rem;
  }
  .TitleText {
    font-size: 2.4rem;
  }
  .AboutContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;
    height: 65rem;
  }
  .AboutTitle {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 400px) {
  .HeaderName {
    opacity: 0;
  }
  .TitleText {
    font-size: 1.8rem;
  }
}
